find the largest number among the
three input numbers

In [1]:
n1 = float(input("Enter first number: "))
n2 = float(input("Enter second number: "))
n3 = float(input("Enter third number: "))
if (n1 >= n2) and (n1 >= n3):
 largest = n1
elif (n2 >= n1) and (n2 >= n3):
 largest = n2
else:
 largest = n3
print("The largest number is", largest)

Enter first number: 12
Enter second number: 88
Enter third number: 9999
The largest number is 9999.0

to print current date

In [2]:
from datetime import date
# today() to get current date
t_date = date.today()
print("Today's date =", t_date)

Today's date = 2023-11-29

the element is present in list or not

In [7]:
l=[ 10, 16, 13, 51, 30, 44 ]
#checking if element 7 is present
# in the given list or not
i=7
# if element present then return
# exist otherwise not exist
if i in l:
 print("exist")
else:
 print("not exist")

not exist

Reversing a list

In [6]:
def Reverse(lt):
 new_lt = lt[::-1]
 return new_lt
lt = [100, 118, 120, 103, 114, 145]
print(Reverse(lt))

[145, 114, 103, 120, 118, 100]

 to Merge the theory
and practical marks of the students

In [8]:
m= {'Physics':67, 'Maths':87}
int_m = {'Practical':48}
m.update(int_m)
print(m)

{'Physics': 67, 'Maths': 87, 'Practical': 48}

Pattern Printing

In [14]:
a = 9
for i in range(0, a):
 for j in range(0, i+2):
  print("*", end=" ")
 print()

* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *